<meta charset="utf-8" />
<title>@ViewBag.Title | Gestion des alliances</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@if (ViewBag.Description != null)
{
    <meta content="@ViewBag.Description" name="description" />
}
else
{
    <meta content="Gestion des alliances PVP de dofus" name="description" />
}

<meta content="Themesbrand" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">

